* {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

main {
  padding: 0 10% 10% 10%;
}

#header-name {
  display: none;
}

nav {
  background-color: #edce80;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

#header-tabs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: stretch;
}

#header-tabs a {
  width: 100%;
  text-align: center;
}

nav a {
  padding: 20px 0;
  font-size: 0;
  text-align: center;
}

i {
  font-size: 20px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  animation: tabAnimation 2s;
  animation-fill-mode: forwards;
}

nav a.current {
  background-color: #d1a143;
}

a.skip,
a.skip:visited {
  position: absolute;
  color: #000;
  text-decoration: none;
  background: #fadf9a;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  top: 10px;
  left: -500px;
}

a.skip:hover {
  background: #fae8b9;
}

a {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 50px 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  margin: 15px 0 5px 0;
}

body {
  background-image: url("../images/honeycomb.jpg");
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
}

footer {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  text-align: center;
}

img {
  width: 200px;
  align-self: center;
  padding: 5px;
  margin: 5px;
  border: 2px solid #e6b741;
  border-radius: 10px;
  object-fit: contain;
}

img:hover {
  background-color: #fae8b9;
}

p {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 14pt;
}

.cover-img {
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
  margin: 0 auto;
  border: none;
  border-radius: 0;
}

.cover-img:hover {
  background-color: transparent;
}

#moolah-layout {
  display: flex;
  flex-wrap: wrap;
}

.right-text {
  padding: 10px 10% 0 20px;
}

.link-bar {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.link-bar a {
  padding: 20px;
  margin: 5px;
  background-color: #ffeab5;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.link-bar a:hover {
  background-color: #fadf9a;
}

.img-set-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-set-flex img {
  flex-grow: 1;
  min-width: 25%;
  max-width: 90%;
}

.blog-post {
  background-color: #fce8b6;
  padding: 25px;
  margin-bottom: 20px;
}

.blog-post img:hover {
  background-color: #fff5dd;
}

.img-set-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 5px;
  grid-template-columns: 1fr;
}

.img-set-grid img {
  width: 90%;
  margin: auto;
}

.img-set-grid {
  grid-template:
    "tall ." auto
    "tall ." auto
    "tall ." auto
    "med med" auto
    "wide1 wide1" auto / 4fr 3fr;
}

#moolah-log {
  grid-area: tall;
}

#moolah-history {
  grid-area: med;
}

#moolah-bought {
  grid-area: wide1;
}

.contact-box {
  padding: 15px;
  background-color: #fff0c8;
  width: 90%;
  margin: 0 auto;
}

input,
textarea {
  margin: 5px 0;
}

textarea {
  width: 98%;
}

.submit-button {
  width: 100%;
  background-color: #edce80;
  border: none;
  padding: 10px;
  margin: 5px 0;
}

.submit-button:hover {
  background-color: #e6c268;
}

.desktop-only {
  display: none;
}

@keyframes tabAnimation {
  from {
    font-size: 0px;
    background-color: #edce80;
  }
  to {
    font-size: 12px;
    background-color: #fadf9a;
  }
}

@media screen and (min-width: 620px) {
  .mobile-only {
    display: none;
  }

  #header-name:hover {
    background-color: #edce80;
  }

  nav a {
    font-size: 16px;
  }

  nav a.current {
    font-weight: bold;
    font-size: 18px;
  }

  nav a:hover {
    animation: none;
    background-color: #fadf9a;
  }

  i {
    font-size: 16px;
  }

  a.skip:focus {
    left: 20px;
  }

  h1 {
    font-size: 45px;
    padding: 50px 0;
  }

  .contact-box {
    width: 50%;
  }

  .blog-post {
    margin-bottom: 50px;
  }

  #moolah-layout,
  #index-layout {
    display: block;
  }

  .cover-img {
    width: 10%;
    padding: 0 15px 15px 0;
    float: left;
  }

  .right-text {
    padding: 0;
    text-align: center;
  }

  .right-text p {
    text-align: justify;
  }

  .img-set-grid {
    grid-template:
      "tall wide1 wide1 wide1" auto
      "tall med med med" auto
      ". med med med" auto
      "wide2 wide2 wide3 wide3" auto / 2fr 1fr 1fr 1fr;
  }

  #moolah-setuser {
    grid-area: wide2;
  }

  #moolah-paid {
    grid-area: wide3;
  }

  .img-set-flex {
    flex-direction: column;
    height: 600px;
  }

  .img-set-flex img {
    flex-grow: 0;
  }
}

@media screen and (min-width: 940px) {
  .desktop-only {
    display: block;
  }

  #header-name {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
  }

  #header-tabs {
    justify-content: end;
  }

  #header-tabs a {
    padding: 20px;
    width: auto;
  }

  h1 {
    font-size: 50px;
    padding: 100px 0;
  }

  #moolah-layout {
    display: flex;
    flex-wrap: nowrap;
  }

  #index-layout {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
  }

  .right-text {
    padding-left: 15px;
  }

  .right-text p {
    text-align: left;
  }

  .cover-img {
    width: 100%;
    min-width: 150px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .img-set-grid {
    grid-template:
      "tall wide1 wide1 ." auto
      "tall med med ." auto
      ". med med ." auto / 4fr 3fr 3fr 3fr;
  }

  #moolah-setuser {
    grid-area: unset;
  }

  #moolah-paid {
    grid-area: unset;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #d1a143;
    color: white;
    transform: rotateY(180deg);
  }

  #flip-img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .blog-post {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .blog-post p {
    width: 50%;
    justify-self: end;
    padding-left: 10px;
  }

  .img-set-flex {
    width: 600px;
  }
}

@media (prefers-reduced-motion) {
  nav a:hover {
    animation: none;
  }

  .flip-card-inner {
    transition: transform 0s;
  }

  a.skip,
  a.skip:visited {
    transition: 0s;
  }
}
